<%= form_with model: [category, todo],
              id: dom_id(category, :new_todo_form),
              data: { turbo_stream: true },
              class: "md:flex space-x-2" do |f| %>
  <%= f.text_field :title,
        placeholder: "New todo",
        class: "flex-1 border-2 border-emerald-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-emerald-400" %>
  <label class="input w-fit">
    <span class="label">Due date</span>
    <%= f.date_field :due_on %>  </label>
  <label class="select w-fit">
    <span class="label">Priority</span>
    <%= f.select :priority_level,
        priority_options_for_select,
        {}, # options (empty hash ถ้าไม่ใส่อะไร)
        class: "form-select" %>
  </label>
  <%= f.submit "Add Todo",
        class: "px-5 py-2 bg-emerald-500 text-white font-semibold rounded hover:bg-emerald-600 transition" %>
<% end %>
